<html lang="en" class="full-height">

<head>
  <title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Zealcord Nation" />
  <meta name="author" content="Zealcord Nation" />
  <meta content="#54FCFF" name="theme-color" />
  <meta content="#54FCFF" name="msapplication-navbutton-color" />
  <meta property="og:url" content="https://www.dwii.me/" />
  <meta property="og:image" content="https://dwii.me/css/zeal.webp" />
  <meta property="og:description" content="Zealcord Official Website
A small community that only
prioritizes quality and quantity" />
  <meta property="og:footer" content="•" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="icon" href="https://dwii.me/css/zeal.webp" />
  <link rel="shortcut icon" type="image/png" href="https://dwii.me/css/zeal.webp" />
  <link rel="stylesheet" href="https://dwii.me/css/fa/css/all.min.css">
  <link rel="stylesheet" href="https://dwii.me/css/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://dwii.me/css/mdb/css/mdb.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/fa/js/all.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/mdb.min.js"></script>

</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light elegant-color-dark navbar-dark">

    <div class="container">

      <!-- Collapse button -->


      <!-- Collapsible content -->
      <div class="navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav flex-center mr-auto font-weight-normal">
          <li class="nav-item">
            <a class="nav-link font-weight-normal waves-effect" href="#"><i class="fas fa-search"></i> Search</a>
          </li>
        </ul>
        <!-- Links -->

        <a class="navbar-brand flex-center pt-0 pb-1" href="#"><img src="https://dwii.me/css/zeal.webp" alt=""
            class="rounded" width="48px" /></a>

        <ul class="navbar-nav flex-center ml-auto font-weight-normal">
          <li class="nav-item">
            <a href="#" class="nav-link font-weight-normal waves-effect"><i class="fab fa-telegram-plane"></i> Login</a>
          </li>
        </ul>

      </div>
      <!-- Collapsible content -->

    </div>

  </nav>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light elegant-color d-block navbar-dark">

    <div class="container">

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
        aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse pt-1" id="basicExampleNav1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto text-uppercase font-weight-normal">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/staff">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/bots">Bot List</a>
          </li>

        </ul>
        <div class="col-md-6 d-flex justify-content-end">
          <ul class="list-unstyled d-flex mb-0">
            <li>
              <a class="mr-4" target="_blank" href="https://discordapp.com/channels/@me/304377187057008645">
                <i class="fab fa-discord fa-lg white-text"> </i>
              </a>
            </li>
            <li>
              <a class="mr-4" target="_blank" href="https://www.instagram.com/dwii5359">
                <i class="fab fa-instagram fa-lg white-text"> </i>
              </a>
            </li>
            <li>
              <a class="mr-4" target="_blank" thref="https://fb.com/dwii5359">
                <i class="fab fa-facebook-f fa-lg white-text"> </i>
              </a>
            </li>
            <li>
              <a class="" target="_blank" href="https://github.com/ItzMeDwii">
                <i class="fab fa-github fa-lg white-text"> </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Collapsible content -->

    </div>

  </nav>
  <!--/.Navbar-->

  <main>
    <% let owner = bot.users.get(body[req.params.botID].ownerID) ? bot.users.get(body[req.params.botID].ownerID).tag : body[req.params.botID].ownerID 
  let avaow = bot.users.get(body[req.params.botID].ownerID) ? bot.users.get(body[req.params.botID].ownerID).displayAvatarURL() : ""
  %>
    <div class="container text-center white-text wow fadeInUp">
      <br>

      <section class="team-section text-center">
        <h3 class="h1-responsive font-weight-bold "><%- bot.users.get(req.params.botID).username%></h3>
        <img src="<%- bot.users.get(req.params.botID).displayAvatarURL()%>?size=2048" class="rounded-circle z-depth-1"
          alt="Sample avatar" width="128px">
        <br><br>
        <a class="btn btn-outline-white" target="_blank"
          href="https://discordapp.com/oauth2/authorize?client_id=<%=req.params.botID%>&scope=bot&permissions=0">Invite
          Me!</a>
        <br><br><br>
        <p>
          <b>OWNER:</b> <br><a href="/user/<%- body[req.params.botID].ownerID %>" class="btn btn-rounded"><img
              src="<%- avaow %>?size=2048" class="rounded-circle z-depth-1" alt="own " width="24px" /> <%- owner %></a>
          <br><br>
          <b>PREFIX:</b> <br><%= body[req.params.botID].prefix%>
          <br>
      </section>
      <br>
    </div>
  </main>

  </header>
  <footer class="page-footer font-small elegant-color-dark">

    <div class="footer-copyright text-center py-3">© 2020 <a href="/" target="_blank"> Zealcord | DwiiUnknown </a>

    </div>

  </footer>

</body>

</html>