<html lang="en" class="full-height">

<head>
  <title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Zealcord Nation" />
  <meta name="author" content="Zealcord Nation" />
  <meta content="#659AFF" name="theme-color" />
  <meta content="#659AFF" name="msapplication-navbutton-color" />
  <meta property="og:url" content="https://zealcord.xyz/" />
  <meta property="og:image" content="https://api.zealcord.xyz/assets/images/logo.png" />
  <meta property="og:description" content="Zealcord Official Website.
A small community that only
prioritizes quality and quantity" />
  <meta property="og:footer" content="•" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="icon" href="https://api.zealcord.xyz/assets/images/logo.png" />
  <link rel="shortcut icon" type="image/png" href="https://api.zealcord.xyz/assets/images/logo.png" />
  <link rel="stylesheet" href="https://dwii.me/css/fa/css/all.min.css">
  <link rel="stylesheet" href="https://dwii.me/css/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://dwii.me/css/mdb/css/mdb.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/fa/js/all.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://dwii.me/css/mdb/js/mdb.min.js"></script>

</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light elegant-color-dark navbar-dark">

    <div class="container">

      <!-- Collapse button -->


      <!-- Collapsible content -->
      <div class="navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav flex-center mr-auto font-weight-normal">
          <li class="nav-item">
            <a class="nav-link font-weight-normal waves-effect" href="#"><i class="fas fa-search"></i> Search</a>
          </li>
        </ul>
        <!-- Links -->

        <a class="navbar-brand flex-center pt-0 pb-1" href="#"><img
            src="https://api.zealcord.xyz/assets/images/logo.png" alt="" class="rounded" width="48px" /></a>

        <ul class="navbar-nav flex-center ml-auto font-weight-normal">
          <li class="nav-item">
            <a href="#" class="nav-link font-weight-normal waves-effect"><i class="fab fa-telegram-plane"></i> Login</a>
          </li>
        </ul>

      </div>
      <!-- Collapsible content -->

    </div>

  </nav>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light elegant-color d-block navbar-dark">

    <div class="container">

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
        aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse pt-1" id="basicExampleNav1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto text-uppercase font-weight-normal">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/staff">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/bots">Bot List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api">API</a>
          </li>

        </ul>
        <div class="col-md-6 d-flex justify-content-end">
          <ul class="list-unstyled d-flex mb-0">
            <li>
              <a class="mr-4" target="_blank" href="https://zealcord.xyz/discord">
                <i class="fab fa-discord fa-lg white-text"> </i>
              </a>
            </li>
            <li>
              <a class="mr-4" target="_blank" href="https://www.instagram.com/zealcord">
                <i class="fab fa-instagram fa-lg white-text"> </i>
              </a>
            </li>
            <li>
              <a class="mr-4" target="_blank" thref="https://facebook.com/zealcord">
                <i class="fab fa-facebook-f fa-lg white-text"> </i>
              </a>
            </li>
            <li>
              <a class="" target="_blank" href="https://github.com/zealcordNation">
                <i class="fab fa-github fa-lg white-text"> </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Collapsible content -->

    </div>

  </nav>
  <!--/.Navbar-->

  <main>
    <%
  let bots = Array.from(bot.guilds.get("332877090003091456").members.filter(m => m.user.bot).sort((a, b) => (a.user.id < b.user.id)).keys())
  
  let pages = (req.params.page * 12) - 12;
  if (!pages) pages = 0;
  let maxes = req.params.page * 12;
  if (req.params.page === 0 || !req.params.page) maxes = 12;
  let totalpage = Math.ceil(bots.length / 12);
  
  let page = Math.round(req.params.page);
  if (page <= 0 || !page) page = res.redirect('/bots/1')
  if (page > totalpage) page = res.redirect('/bots/' + totalpage)
        %>
    <div class="container text-center white-text wow fadeInUp">
      <br>
      <hr>
      <section class="team-section text-center">
        <h2 class="h1-responsive font-weight-bold">Zealcord Development Bot List</h2>
        <h6><%= bots.length %> Bots were approved</h6>

        <hr>

        <div class="row">

          <%-          
bots.slice(pages, maxes).map((item, i) => `
    <div class="col-lg-3 col-md-6 mb-lg-4 mb-5">
      <div class="avatar mx-auto">
        <a href="/bot/${item.toString()}"><img width="128px" src="${bot.users.get(item.toString()).displayAvatarURL()}?size=2048" class="rounded-circle z-depth-1"
          alt="Sample avatar"></a>
      </div>
      <h5 class="font-weight-bold mt-2 mb-1">${bot.users.get(item.toString()).tag}</h5>
      <!-- <p style=""><strong>PREFIX: ${body[item.toString()]}</strong></p> -->
<div class="btn-group btn-group" role="group" aria-label="Basic example">
  <a class="btn btn-outline-blue" href="/bot/${item.toString()}">View</a>
  <a class="btn btn-outline-blue" href="https://discordapp.com/oauth2/authorize?client_id=${item.toString()}&scope=bot&permissions=0" target="_blank">Invite</a>
</div>
    </div>
`).join(" ");
%>
        </div>
      </section>
      <p class="white-text text-center"><%-page%> / <%- totalpage%></p>
      <nav aria-label="Page">
        <ul class="pagination pg-blue justify-content-center">
          <li class="page-item"><a class="btn btn-outline-blue page-link white-text" href="/bots/<%- page - 1 %>">
              <<</a> </li> <li class="page-item"><a class="btn btn-outline-blue page-link white-text"
                  href="/bots/<%- page + 1 %>">>></a></li>
        </ul>
      </nav>
      <br><br>
    </div>
  </main>

  </header>
  <footer class="page-footer font-small elegant-color-dark">

    <div class="footer-copyright text-center py-3">© 2020 <a href="/" target="_blank"> Zealcord | DwiiUnknown </a>

    </div>

  </footer>

</body>

</html>