<%- include("./inc/header.ejs", {bot, path}) %>
<main>
  <div class="container text-center white-text wow fadeInUp">
    <br><br><br>

    <section class="team-section text-center my-5">
      <h2 class="h1-responsive font-weight-bold my-5">Zealcord Nation's Staff</h2>

      <div class="row">
        <%-
bot.guilds.get("332877090003091456").members.filter(m => m.roles.has("615553529167478784")).map(prop =>`
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-4 mb-5">
      <div class="avatar mx-auto">
        <img src="${bot.users.get(prop.user.id).displayAvatarURL()}?size=2048" width="128px" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-2">${prop.user.tag}</h5>
      <p class="text-uppercase" style="color:${prop.displayHexColor}"><strong>Administrator</strong></p>
    </div>
    <!-- Grid column -->
`).join(" ")
%>
      </div>

      <hr></hr>
      <br>

      <div class="row">
        <%-
bot.guilds.get("332877090003091456").members.filter(m => m.roles.has("615553989517377538") && !m.roles.has("615553529167478784")).map(prop =>`
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-4 mb-5">
      <div class="avatar mx-auto">
        <img src="${bot.users.get(prop.user.id).displayAvatarURL()}?size=2048" width=128px" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-2">${prop.user.tag}</h5>
      <p class="text-uppercase" style="color:${prop.displayHexColor}"><strong>Moderator</strong></p>
    </div>
    <!-- Grid column -->
`).join(" ")
%>
      </div>

    <hr></hr>
      <br>

      <div class="row">
        <%-
bot.guilds.get("332877090003091456").members.filter(m => m.roles.has("637443915963957248") && !m.roles.has("615553989517377538")).map(prop =>`
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-4 mb-5">
      <div class="avatar mx-auto">
        <img src="${bot.users.get(prop.user.id).displayAvatarURL()}?size=2048" width="128px" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-3 mb-2">${prop.user.tag}</h5>
      <p class="text-uppercase" style="color:${prop.displayHexColor}"><strong>Helper</strong></p>
    </div>
    <!-- Grid column -->
`).join(" ")
%>
      </div>

    </section>
    <br><br>
  </div>
</main>
<%- include("./inc/footer.ejs") %>