<%- include('./inc/header.ejs', {bot, path}) %>
<main>
<div class="container text-center white-text wow fadeInUp">
<br><br><br><br>
  
  <!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Zealcord Nation Team</h2>

  <!-- Grid row -->
  <div class="row">

<%-
bot.guilds.get("332877090003091456").members.filter(m => m.roles.has('615553529167478784')).map(prop =>`
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.discordapp.com/avatars/${prop.user.id}/${prop.user.avatar}.png?size=128" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">${prop.user.tag}</h5>
      <p class="text-uppercase" style="color:${prop.displayHexColor}"><strong>Administrator</strong></p>
    </div>
    <!-- Grid column -->
`).join(" ")
%>
  </div>
  <!-- Grid row -->
  <br>
  <!-- Grid row -->
  <div class="row">

<%-
bot.guilds.get("332877090003091456").members.filter(m => m.roles.has('615553989517377538')).map(prop =>`
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.discordapp.com/avatars/${prop.user.id}/${prop.user.avatar}.png?size=128" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">${prop.user.tag}</h5>
      <p class="text-uppercase" style="color:${prop.displayHexColor}"><strong>Manager</strong></p>
    </div>
    <!-- Grid column -->
`).join(" ")
%>
  </div>
  <!-- Grid row -->
  <br>
  <!-- Grid row -->
  <div class="row">

<%-
bot.guilds.get("332877090003091456").members.filter(m => m.roles.has('637443915963957248')).map(prop =>`
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.discordapp.com/avatars/${prop.user.id}/${prop.user.avatar}.png?size=128" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">${prop.user.tag}</h5>
      <p class="text-uppercase" style="color:${prop.displayHexColor}"><strong>Moderator</strong></p>
    </div>
    <!-- Grid column -->
`).join(" ")
%>
  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->
  <br><br>
  </div>
</main>
</header>
<%- include('./inc/footer.ejs') %> 